.blog-post {
  margin-top: 50px;
}

.blog-post h1 {
  color: var(--color-yellow);
  margin-bottom: 0;
}

.blog-post-details {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 170px);
  margin-bottom: 40px;
}

.blog-post-details p {
  grid-gap: 10px;
  display: grid;
  font-weight: bold;
}

.blog-post-details time {
  font-weight: normal;
}

.blog-post-content a {
  padding: 0;
  text-decoration: underline;
  text-decoration-thickness: auto;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}

.blog-post-content a:hover,
.blog-post-content a:active {
  background-color: transparent;
  opacity: 0.8;
}

.blog-post-content p {
  line-height: 1.8;
  color: var(--color-grey);
}

.blog-post-content h4 {
  margin-bottom: 10px;
}

.blog-post-heading-link {
  fill: var(--color-grey);
}

.post-image {
  max-width: 100%;
}

.all-posts .card {
  padding: 15px;
}

.go-to {
  display: inline-block;
  line-height: 20px;
  height: 22px;
}

.dot {
  font-size: calc(var(--font-size-xs) - 1px);
  display: inline-block;
  margin: 0 10px 0;
  position: relative;
  top: -1px;
}

@media all and (max-width: 640px) {
  .blog-post-details {
    grid-template-columns: repeat(2, 170px);
  }

  .all-posts {
    grid-template-columns: repeat(1, 100%);
  }
}
