.title-tag {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 5px;
  background-color: var(--color-grey);
  border-radius: 32px;
  color: var(--color-black);
  padding: 6px 8px;
  font-size: 11px;
  margin-left: -5px;
  letter-spacing: 1px;
}

.book-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.book-header > img {
  max-width: 550px;
  margin-right: -50px;
}
