footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-grey);
  margin-top: 40px;
}

footer > div {
  display: flex;
  align-items: center;
}

footer > div a {
  height: inherit;
  text-decoration: underline;
  padding: 0;
}

footer > img {
  width: 25px;
  height: 25px;
}
