.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
}

.menu-list {
  display: flex;
  list-style: none;
  min-width: 230px;
  justify-content: space-between;
  padding-left: 15px;
}

.menu-content {
  display: flex;
  list-style: none;
  width: 220px;
  justify-content: space-between;
}

.menu-list li a {
  display: flex;
  align-items: center;
  color: var(--color-grey);
  text-decoration: none;
}

.menu-list li a:hover,
.menu-list li a:focus {
  background-color: var(--color-slighty-black);
}

.menu .logo {
  padding: 5px;
  height: 50px;
}

.menu .logo:active,
.menu .logo:hover {
  opacity: 0.8;
}

.menu .logo img {
  width: 70px;
  height: 38px;
}

.menu a.active {
  background-color: var(--color-slighty-black);
  font-weight: 600;
  color: var(--color-blue);
}

.social {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 30px;
  width: 235px;
  margin-top: 20px;
}

.social a {
  display: flex;
  align-items: center;
  margin-left: -10px;
}

@media all and (max-width: 480px) {
  .menu-list {
    min-width: 200px;
  }

  .menu-list li a {
    font-size: var(--font-size-sm);
  }

  .social {
    grid-gap: 10px;
  }

  .menu .logo img {
    max-width: 58px;
    margin-top: 6px;
    width: unset;
    height: unset;
  }
}
