.Newsletter__container {
  background-color: var(--color-primary-bg-newsletter);
  max-width: 720px;
  width: 100%;
  border-radius: 8px;
  color: var(--color-white);
  display: flex;
  height: 300px;
  padding: 15px 25px;
  margin-top: 70px;

  .Newsletter__confirmation {
    margin-top: 25px;
    color: #cddc39;
    display: none;
  }

  .Newsletter__content {
    margin-top: 20px;
  }

  p {
    max-width: 90%;
  }

  form {
    width: 320px;
    display: flex;
    flex-direction: column;
  }

  h4,
  p {
    width: inherit;
  }

  h4 {
    margin-bottom: 0;
    color: #fff;
    margin-top: 0px;
    font-size: 24px;

    > span {
      margin-right: 12px;
      display: inline-block;
      position: relative;
      top: -1px;
    }
  }

  h4 + p {
    margin-top: 10px;
    margin-right: 20px;
  }

  .Newsletter__spam {
    color: var(--color-white);
    margin-top: 38px;
  }

  input,
  input[type="submit"] {
    height: 48px;
    padding: 0 10px;
    font-size: 16px;
  }

  input[type="submit"] {
    color: var(--color-white);
    background-color: var(--color-primary-link);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 110px;
    height: 39px;
    font-size: 17px;
    text-align: center;
    font-weight: 600;
    margin-top: 15px;

    &:active {
      opacity: 0.9;
    }
  }

  .email-address {
    width: 100%;
    border-radius: 6px;
    border: 1px solid var(--color-secondary-color-newsletter);
    outline: none;
    font-size: 16px;

    &:focus {
      border-color: var(--color-secondary-color-newsletter);
    }
  }

  span {
    display: block;
    font-weight: 400;
    margin-top: 5px;
    color: var(--color-primary-link);
  }
}

@media all and (max-width: 720px) {
  .Newsletter__container {
    flex-direction: column;
    height: 100% !important;
    padding: 20px !important;
    align-items: center;
    text-align: center;
    width: 460px;

    .Newsletter__content {
      width: 100%;
      margin-top: -10px;
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .Newsletter__spam {
      margin-top: 0;
    }

    .Newsletter__title {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .email-address {
      width: 100%;
      max-width: 320px;
    }

    form {
      width: 100%;
      padding: 15px 0 10px;
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    input,
    input[type="submit"] {
      height: 40px;
      padding: 0 10px;
      font-size: 14px;
    }

    h4 + p {
      margin-right: 0;
    }

    input[type="submit"] {
      width: 320px;
      align-self: flex-start;
      margin: 20px auto 10px;
    }

    .Newsletter__confirmation {
      margin-bottom: 0;
      margin-top: -5px;
    }
  }
}

@media all and (max-width: 470px) {
  .Newsletter__container {
    width: 90%;
    margin: 0 auto;

    input[type="submit"] {
      width: 100%;
    }
  }
}
