.newsletter-container {
  background-color: var(--color-slighty-black);
  max-width: 720px;
  width: 100%;
  border-radius: 8px;
  color: var(--color-white);
  display: flex;
  height: 300px;
  padding: 15px 25px;
  margin-top: 40px;
}

.newsletter-title {
  color: var(--color-grey);
}

.newsletter-confirmation {
  margin-top: 25px;
  color: var(--color-green);
  display: none;
}

.newsletter-content {
  margin-top: 20px;
}

.newsletter-container p {
  max-width: 90%;
}

.newsletter-container form {
  width: 320px;
  display: flex;
  flex-direction: column;
}

.newsletter-container h4,
.newsletter-container p {
  width: inherit;
}

.newsletter-container h4 {
  margin-bottom: 0;
  color: #fff;
  margin-top: 0px;
  font-size: var(--font-size-lg);
}
.newsletter-container h4 > span {
  margin-right: 12px;
  display: inline-block;
  position: relative;
  top: -1px;
}

.newsletter-container h4 + p {
  margin-top: 10px;
  margin-right: 20px;
}

.newsletter-spam {
  color: var(--color-white);
  margin-top: 38px;
}

.newsletter-container input,
.newsletter-container input[type='submit'] {
  height: 48px;
  padding: 0 10px;
  font-size: var(--font-size);
}

.newsletter-container input[type='submit'] {
  color: var(--color-white);
  background-color: var(--color-bright-blue);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 110px;
  height: 39px;
  font-size: var(--font-size);
  text-align: center;
  font-weight: 600;
  margin-top: 15px;
  line-height: 39px;
}

.newsletter-container input[type='submit']:active {
  opacity: 0.9;
}

.newsletter-container input[type='submit'].email-address {
  width: 100%;
  border-radius: 6px;
  border: 1px solid var(--color-secondary-color-newsletter);
  outline: none;
  font-size: var(--font-size);
}

.newsletter-container input[type='submit'].email-address:focus {
  border-color: var(--color-secondary-color-newsletter);
}

.newsletter-container span {
  display: block;
  font-weight: 400;
  margin-top: 5px;
  color: var(--color-bright-blue);
}

/* @media all and (max-width: 720px) {
  .newsletter-container {
    flex-direction: column;
    height: 100% !important;
    padding: 20px !important;
    align-items: center;
    text-align: center;
    width: 460px;

    .newsletter-content {
      width: 100%;
      margin-top: -10px;
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .newsletter-spam {
      margin-top: 0;
    }

    .newsletter-title {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .email-address {
      width: 100%;
      max-width: 320px;
    }

    form {
      width: 100%;
      padding: 15px 0 10px;
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    input,
    input[type='submit'] {
      height: 40px;
      padding: 0 10px;
      font-size: 14px;
    }

    h4 + p {
      margin-right: 0;
    }

    input[type='submit'] {
      width: 320px;
      align-self: flex-start;
      margin: 20px auto 10px;
    }

    .newsletter-confirmation {
      margin-bottom: 0;
      margin-top: -5px;
    }
  }
}

@media all and (max-width: 470px) {
  .newsletter-container {
    width: 90%;
    margin: 0 auto;

    input[type='submit'] {
      width: 100%;
    }
  }
} */
