.sidebar {
  width: 280px;
  float: right;
  margin-left: 30px;

  h2 {
    color: var(--color-primary-post-title);
  }
}

@media all and (max-width: 740px) {
  .sidebar {
    float: none;
    margin-left: 0;
  }
}
